body {
  background: rgb(139, 139, 134);
  background: linear-gradient(
    90deg,
    rgba(139, 139, 134, 1) 0%,
    rgba(43, 235, 229, 1) 0%,
    rgba(210, 178, 247, 1) 100%
  );
  height: 100vh;
  width: 100vw;
}

#inputs {
  display: flex;
  margin: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  justify-content: baseline;
}

label {
  font-weight: bold;
}

input {
  display: flex;
  border-radius: 3px;
  box-shadow: 1px 1px 1px;
  border: solid black 0.6px;
}
input:focus {
  background: rgb(235, 235, 235);
}
button {
  margin-top: 10px;
  background: rgb(109, 109, 255);
  color: white;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
}

button:hover {
  transition: 0.2s;
  background: blue;
  cursor: pointer;
}

#res {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  text-shadow: 0.2px 0.2px 0.2px black;
}

#form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-shadow: 0.2px 0.2px 0.2px black;
}

#opcoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

#encerrado {
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-shadow: 2px 2px 2px white;
}

#Aprovados, #alunos, #nomes {
  font-size: 18px;
  margin-top: 40px;
  text-shadow: 0.2px 0.2px 0.2px black;;
}

#btn-voltar {
  background: rgb(102, 102, 102);
  border: solid rgb(0, 0, 0) 2px;
}

#btn-voltar:hover {
  background: black;
  transition: 0.5s;
}